<div id="wrapper" ng-class="{'toggled':$ctrl.toggleSideBar()}">
    <div id="sidebar-wrapper">
        <side-bar ng-show="$ctrl.toggleSideBar()"></side-bar>
    </div>
    <div class="container-fluid main-layout" id="page-content-wrapper">
        <div class="page-header row main-layout">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 title main-layout">
                <span class="univName">UBB</span>
                <span class="appName">EasyDocs</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <navbar-tag></navbar-tag>
                </div>
            </div>
        </div>
        <!--<div ng-show="$ctrl.drFormActive() && $ctrl.daFormInactive()">-->
        <!--<drform-tag></drform-tag>-->
        <!--</div>-->
        <!--<div ng-show="$ctrl.daFormActive() && $ctrl.drFormInactive()">-->
        <!--<rnform-tag></rnform-tag>-->
        <!--</div>-->
        <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="$ctrl.getActiveTab() == 2">-->
        <!--<mydocs-tag></mydocs-tag>-->
        <!--</div>-->
        <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="$ctrl.getActiveTab() == 3">-->
        <!--<fluxdocs-tag></fluxdocs-tag>-->
        <!--</div>-->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                 ng-if="$ctrl.drFormActive() && $ctrl.daFormInactive()">
                <drform-tag></drform-tag>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                 ng-if="$ctrl.daFormActive() && $ctrl.drFormInactive()">
                <rnform-tag></rnform-tag>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                 ng-if="$ctrl.getActiveTab() == 2">
                <mydocs-tag></mydocs-tag>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                 ng-if="$ctrl.getActiveTab() == 3">
                <fluxdocs-tag></fluxdocs-tag>
            </div>
        </div>
    </div>
</div>
</div>