.main-layout .title {
    text-align: center;
}

.main-layout .container-fluid {
    display: flex;
    align-items: center;
}

.main-layout .row {
    display: flex;
    align-items: center;
}

.main-layout .page-header {
    height: 17%;
}

@media screen and (max-device-width: 480px){
    .main-layout .page-header{
        height: 7%;
    }
}



