.container-fluid {
    height: 100%;
    padding-left: 0;
    padding-right: 0;
}

.page-header {
    background: linear-gradient(to top, white 0%, darkgrey 90%);
    height: 30%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    border: 0;
}

.submit {
    width: 100%;
}

span {
    cursor: default;
}

.glyphicon {
    top: 0;
    bottom: 0;
}

.mormontInput:focus {
    box-shadow: 0 0 10px #69A31B;
    outline: none;
    border: 1px solid #69A31B;
}

/*.mormontButton {*/
    /*background-color: rgb(238, 238, 238);*/
    /*color: rgb(43, 43, 43);*/
/*}*/

/*.mormontButton:hover{*/
    /*background-color: rgb(200, 200, 200);*/
    /*color: black;*/
/*}*/

/*.mormontButton:active, .btn-default:active {*/
    /*background-color: red;*/
    /*color: white;*/
/*}*/