/*.container-fluid {*/
    /*height: 100%;*/
    /*padding-left: 0;*/
    /*padding-right: 0;*/
/*}*/

/*.page-header {*/
    /*background: linear-gradient(to top, white 0%, darkgrey 90%);*/
    /*height: 30%;*/
    /*margin-top: 0;*/
    /*margin-left: 0;*/
    /*margin-right: 0;*/
    /*border: 0;*/
/*}*/

login-tag .submit {
    width: 100%;
}

login-tag .glyphicon {
    top: 0;
    bottom: 0;
}

