.sidebar-nav {
    padding-left: 15px;
}

.sidebar-brand {
    font-size: 20pt;
    height: 100%;
    color: whitesmoke;
}

.sidebar-nav > li {
    padding-bottom: 15px;
    padding-right: 15px;
    width: 100%;
}

.sidebar-nav > li > button {
    width: 100%;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
