<ul class="sidebar-nav">
    <li class="sidebar-brand">
        Menu
    </li>

    <li>
        <button type="button" class="btn btn-default mormontInput" ng-click="$ctrl.handleSidebar()">Inapoi la ecranul principal</button>
    </li>
    <li>
        <button type="button" class="btn btn-default mormontInput" ng-click="$ctrl.handleDRForm()" ng-disabled="$ctrl.getDRFormState() || $ctrl.getDAFormState()">Creeaza document 'Dispozitia rectorului'</button>
    </li>
    <li>
        <button type="button" class="btn btn-default mormontInput" ng-click="$ctrl.handleDAForm()" ng-disabled="$ctrl.getDAFormState() || $ctrl.getDRFormState()">Creeaza document 'Referat necesitate'</button>
    </li>
    <li>
        <button type="button" class="btn btn-default mormontInput" ng-click="$ctrl.logout()">Logout</button>
    </li>
</ul>