<ul class="sidebar-nav">
    <li class="sidebar-brand">
        Menu
    </li>

    <li>
        <button type="button" class="btn btn-default mormontInput" ng-click="$ctrl.handleSidebar()">Inapoi la ecranul principal</button>
    </li>
    <li>
        <button type="button" class="btn btn-default mormontInput" ng-click="">Creeaza document 'Dispozitia rectorului'</button>
    </li>
    <li>
        <button type="button" class="btn btn-default mormontInput" ng-click="">Creeaza document 'Desfasurarea achizitiilor'</button>
    </li>
    <li>
        <button type="button" class="btn btn-default mormontInput" ng-click="$ctrl.logout()">Logout</button>
    </li>
</ul>